body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.app {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.content {
    margin-top: 20px;
}

.content p {
    margin: 10px 0;
}

.light-theme {
    background-color: #fff;
    color: #000;
}

.dark-theme {
    background-color: #000;
    color: #fff;
}

button:hover {
    background-color: #555;
}